.bodypanel{

    min-width: 60vw;
    max-width: 70vw;

    align-items: center;
    justify-content: center;
    display: grid;

    
    border-radius: 25px;
    padding: 20px;
    box-shadow: 0 4px 6px rgb(0, 0, 0);

    /* Transparency thingy for the panel background*/

    background-color: rgba(32, 32, 32, 0.199);
    border: 1px solid rgba(255, 255, 255, 0.08);
}

.bodyPanelABOUT{

    min-width: 60vw;
    max-width: 70vw;

    align-items: center;
    justify-content: center;
    display: grid;

    
    border-radius: 25px;
    padding: 20px;
    box-shadow: 0 4px 6px rgb(0, 0, 0);

    /* Transparency thingy for the panel background*/

    background-color: rgba(32, 32, 32, 0.199);
    border: 1px solid rgba(255, 255, 255, 0.08);
}
/* Profile box styling 1*/
.ProfileBox{
    margin-top: 20px;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items:center;
    gap: 15px;
    padding: 0px;
    
    background-color: #ffffff;
    border: 1px solid #dac9c9;
    border-radius: 24px;
    
    
    min-width: 90%; 
    max-width: 90%; 
    box-shadow: 0 4px 6px rgba(75, 95, 185, 1); 

    transition-duration: 200ms;


    .pfp-img 
    {
    border-radius: 24px;
    
        width:100%; 
        height: 100%;
        max-width: 190px;
    object-fit: cover;
    display: block;
    transition-duration: 500ms;
    }

    .pfp-img:hover{
        cursor: pointer;
        transform: translateX(-10px) scale(1.05);
        
    }
}

/* Profile box styling for hover*/
.ProfileBox:hover{

    transform: translateY(-5px);
    box-shadow: 0 4px 6px rgb(0, 0, 0); 
    
}
.box-text{
    
    
    align-items: center;
    padding-bottom: 0px;
    justify-content:center;
    margin: auto;
}


.ProfileBox h2 {
   
    margin-top: -0px;          
    margin-bottom: 25px;     
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: calc(1.5vw + 10px); 
    color: #000000;
}

.ProfileBox h3 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   
    font-style: italic;
    margin-top: -30px;              
    color: #3333337a;
    line-height: 1.4;       
    font-size: calc(0.5vw + 8px);
}

.ProfileBox p {
    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 20px;              
    color: #000000;
    line-height: 1.4;       
    font-size: calc(0.5vw + 5px);
    max-width: 260px;
}

.ProfileBtn {
    width: 95%;
    color: #000000;
    background-color: #cecece;
    border-radius: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 12px;
    
    border: none;
    transition-duration: 500ms;
    margin-bottom: 2px;
}

.ProfileBtn:hover {
    transform: translateY(-5px);
    transform: scale(1.05);
    box-shadow: 0 4px 6px rgb(0, 0, 0);
}



/* My projects box thing i guess*/
.ProjectsBox{

    margin-top: 20px;
    
    display: grid;
    align-items:center;
    gap: 20px;
    padding: 10px;
    overflow: hidden;
    background-color: #ffffff;
    border: 1px solid #dac9c9;
    border-radius: 24px;
    
    min-width: 500px;
    max-width: 1000px;       
    box-shadow: 0 4px 6px rgba(75, 95, 185, 1); 

    transition-duration: 200ms; 
}
.ProjectsBox:hover{
    transform: translateY(-5px);
    box-shadow: 0 4px 6px rgb(0, 0, 0); 
}
.ProjectsBox a{
    display: flex;
    align-items: center;
    justify-content: center;
}

.ProjectsTextBox{
    display: flex;
    align-items: center;
    justify-content: center;
}
.OASGameBox{
     display:inline;
    align-items: center;
    justify-content: center;
}
.OASGameBox h2 {
    display:flex;
    align-items: center;
    justify-content: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: calc(1.5vw + 8px); 
    color: #000000;
}
.OASGameBox h3{

    display:flex;
    align-items: center;
    justify-content: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: calc(1.5vw + 10px); 
    color: #000000;
}
.OASGameBox h4 {
    display:flex;
    align-items: center;
    justify-content: center;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   
    font-style: italic;
    margin-top: -30px;              
    color: #3333337a;
    line-height: 1.4;       
    font-size: calc(0.5vw + 8px);
}
a{
    text-decoration: none;
}

.GameButton{
    width: 95%;
    color: #000000;
    background-color: #cecece;
    border-radius: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 12px;
    text-decoration: none;
    border: none;
    transition-duration: 500ms;
    margin-bottom: 2px;
    text-decoration-color: #000000;
}
.GameButton:hover{

     transform: translateY(-5px);
    transform: scale(1.05);
    box-shadow: 0 4px 6px rgb(0, 0, 0);
}


/* Body styling*/
body {
  
margin: 0;                   
  
  display: flex;               
  flex-direction: column;
  justify-content: center;     
  align-items: center;         
  

    
    min-height: 100vh; 
    
    
    
    background: linear-gradient(to bottom, #41a6f8, #ffffff); 
    
}


/* Dock / Top bar styling*/ 
.dock{
    position: fixed;    
     top: 0;
    left: 0; 
     width: 100%;           
    height: 70px;           
    z-index: 1000;     
    
    /* Layout */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px; 
    box-sizing: border-box;

    /* Style */
    background-color: #ffffff;
    border-bottom: 1px solid #e0e0e0;
    box-shadow: 0 2px 8px rgb(67, 75, 180);
    transition-duration: 500ms;
}

.SiteSection{
    
    width: 100vw;
    display: grid;
    align-items: center;
    justify-content: center;

    
}



/* Logo Styling */
.logo {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #333333;
}

/* Link styling 1 */
.nav-links {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    gap: 30px;      
    transition-duration: 500ms;       
}
/* Link Styling 2 */
.nav-links a {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;  
    color: #555555;
    font-size: 18px;
    font-weight: 500;
    transition: color 0.2s ease; 
    transition-duration: 500ms;
}

/* Hover Effect for Links */
.nav-links a:hover {
    transition-duration: 500ms;
    color: #000000;     
    transform: scale(1.10);    
}


.AboutMeBox{


   
    display: flex;
    justify-content: center;
    align-items:center;
    gap: 15px;
    padding-right: 20px;
    overflow: hidden;
    background-color: #ffffff;
    border: 1px solid #dac9c9;
    border-radius: 24px;
    
   
    
   
    box-shadow: 0 4px 6px rgba(75, 95, 185, 1); 

    transition-duration: 200ms;

    .AboutIMG{

            border-radius: 24px;
        
            width:100%; 
            height: 100%;
            max-width: 190px;
        object-fit: cover;
        display: block;
    }
}

.AboutMeBox:hover{

    transform: translateY(-5px);
    box-shadow: 0 4px 6px rgb(0, 0, 0); 
    
}
.AboutMeBox h2 {

    margin-top: -0px;          
    margin-bottom: 25px;     
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: calc(1.5vw + 10px); 
    color: #000000;

}

.AboutMeBox h3 {

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    margin-top: -30px;              
    color: #3333337a;
    line-height: 1.4;       
    font-size: calc(0.5vw + 8px);

}

.AboutMeBox p {

     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 20px;              
    color: #000000;
    line-height: 1.4;       
    font-size: calc(0.5vw + 6px);
    max-width: 260px;
}

.contactMeBox{

    display: grid;
    justify-content: center;
    align-items:center;
    gap: 15px;
    padding: 20px;
    overflow: hidden;
    background-color: #ffffff;
    border: 1px solid #dac9c9;
    border-radius: 24px;
    
   
    
   
    box-shadow: 0 4px 6px rgba(75, 95, 185, 1); 

    transition-duration: 200ms;
}

.ContactBoxContainer{
    display: flex;
    justify-content: center;
    align-items:center;
}

.contactMeBox h2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -0px;          
    margin-bottom: 25px;     
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: calc(1.5vw + 10px); 
    color: #000000;
}

.ContactOption{
    display: grid;
    align-items: center;
    justify-content: center;
    width: 10%;
    max-height: 10%;

    border-radius: 15px;
    transition-duration: 500ms;
}
.ContactOption:hover{
    transform: scale(1.05);
    transform: translateY(-5px);
    box-shadow: 0 4px 6px rgb(0, 0, 0); 
}
.ContactOption p{
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    margin-top: 0px;   
    margin-bottom: -10px;           
    color: #3333337a;
    line-height: 1.4;       
    font-size: calc(0.5vw + 8px);
}
.ContactOption a{
    display:  grid;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    
}


.ContactLogoIG{
    
    min-height: 90%;
    min-width: 90%;

    max-width: 100%;
    max-height: 100%;
}


.ContactLogoDS{
    
    min-height: 90%;
    min-width: 90%;

    max-width: 100%;
    max-height: 100%;
}

.ContactLogoST{
    
    min-height: 12%;
    min-width: 12%;

    max-width: 90%;
    max-height: 90%;
    
}

